.about {

  &-container {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    max-width: 760px;
    flex-direction: column;
    justify-content: center;
    
    p {
      font-size: 1.09rem;
      max-width: 600px;
      line-height: 2rem;
      text-align: left;
    }

    @include atMedium {
      flex-direction: row;
      text-align: left;
      padding: 70px 0;
    }
  }
}

.profile {
  border-radius: 200px;
  height: 200px;
  background: lightblue;

  @include atMedium {
    margin-right: 30px;
  }
}
