$contact-bg: #373A40;

.contact {
  color: white;
  background: $contact-bg;
  
	&-row {
    max-width: 1000px;
    margin: 3rem auto 5rem;
  }

  &-form {
    margin: 0 auto;
    text-align: left;
    max-width: 650px;

    div {
      padding-bottom: 1rem;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      
      &-name, &-email {
        width: 45%;
      }
    }

    input, textarea {
      font-size: 1.3rem;
      width: 100%;
      padding: .4rem;
      margin-top: .3rem;
      border: $contact-bg;
      background: lighten($contact-bg, 10%);
      transition: background 0.3s ease-in-out;
      
      &:focus {
        background: white;
        outline: none;
      }
  	}

    ::placeholder {
      color: darken(white, 30%);
    }

  	input[type="submit"] {
      color: white;
      background: darken($contact-bg, 10%);
      width: auto;
      font-size: 1.3rem;
      padding: 1rem;

      &:hover {
        cursor: pointer;
        background: black;
  		}
  	}

  	textarea {
  		resize: none;
  	}

  	label {
      font-size: 1.1rem;
  		padding-bottom: 2rem;
  	}
	}
}
