.description {

  &-container {
    display: flex;
    margin: 0 auto;
    padding-bottom: 70px;
    align-items: center;
    max-width: 760px;
    text-align: left;
    
    p {
      font-size: 1.09rem;
      max-width: 500px;
      line-height: 2rem;
    }
  }
}

.profile {
  border-radius: 200px;
  height: 200px;
  background: lightblue;
  margin-right: 30px;
}
