.footer {
  background-color: #202124;
  color: white;
  font-size: 1em;
  margin: 0px;
  padding-bottom: 1rem;
  text-align: center;
}

.social-media {
}

.svg {
  height: 50px;
  margin: 33px 10px 13px;
  border-radius: 50%;
  opacity: .3;
  transition: .5s;

  &:hover {
    opacity: 1;
  }
}
