.main {
  color: white;
  height: 100vh;
  background: black;
  
	@include atXsmall {
  	background: url(../img/martin-sattler-160751-460w.jpg) bottom center no-repeat;
  	background-size: cover;
	}

	@include atSmall {
  	background: url(../img/martin-sattler-160751-770w.jpg) bottom center no-repeat;
  	background-size: cover;
	}

	@include atMedium {
  	background: url(../img/martin-sattler-160751-1025w.jpg) bottom center no-repeat;
  	background-size: cover;
	}

	@include atLarge {
  	background: url(../img/martin-sattler-160751-1920w.jpg) bottom center no-repeat;
  	background-size: cover;
	}

	@include atXlarge {
  	background: url(../img/martin-sattler-160751.jpg) bottom center no-repeat;
  	background-size: cover;
	}

	.wrapper {
		transform: translateY(25vh);
		h1 {
	  	font-size: 4rem;
	  	font-weight: 700;
	  	margin: 0 auto;
	  	width: 250px;
	  }
	
	  h2 {
	  	font-size: 20px;
	  	font-weight: 100;
	  	margin: .5rem auto;
	  	width: 180px;
	  }

    svg {
      fill: white;
      border: 1px solid white;

      &:hover {
        fill: black;
        background: white;
      }     
    }

	  @include atSmall {
	  	h1 {
	  		width: 100%;
	  		font-size: calc(64px + 76 * ((100vw - 460px) / 1460));
	  	}

	  	h2 {
	  		width: 100%;
	  		font-size: calc(20px + 20 * ((100vw - 460px) / 1460));
	  	}
	  }

	  @include medium-navbar {
	  	div {
	  		padding: 50px;
	  	}
	  }

	  @include atXlarge {
	  	h1 {
	  		font-size: 140px;
	  	}

	  	h2 {
	  		font-size: 2.5rem;
	  	}
	  }
	}
}
