.main {
  background-color: #27292C;
  color: white;
  height: 80vh;
  background: url(../img/martin-sattler-160751.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
