nav {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: .5s;
  height: 48px;
  font-family: 'Raleway', sans-serif;
  background: black;

  @include medium-navbar {
    background: none;
  }

  ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    transition: .5s;
    max-height: 0px;
    overflow: hidden;
    clear: both;

    li {
      background: rgba(0, 0, 0, 0.7);
    }

    @include medium-navbar {
      position: relative;
      float: right;
      left: auto;
      background: rgba(255, 255, 255, .4);
      width: auto;
      transform: none;
      margin: 1rem 0;
      max-height: 48px;
      overflow: visible;
      clear: none;
    
      li {
        background: none;
        float: left;
      }
    }

    &.menu-toggle {
      max-height: 15rem;
    }
  }

  a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .4s ease-in-out;
    
    &:hover:not(.active) {      
      color: #8B0000;
    }
  }
}

.active {
  background-color: #8B0000;
}

.logo {
  display: block;
  float: left;
  color: #8B0000;
  font-size: 2.5rem;
  font-weight: 700;
  transition: .5s;

  @include medium-navbar {
    padding-top: 17px;
  }
}

.dark-nav {
  background: black;

  ul {
    background: none;

    @include medium-navbar {
      margin: 0;
    }
  }

  .logo {
    padding-top: 0;
  }

  .navbar_button {
  }
}

.navbar_button {
  position: absolute;
  right: 14px;
  transition: .5s;
  top: -4px;

  @include medium-navbar {
    top: 12px;
    display: none;
  }
}
