nav {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  transition: 0.2s;
  height: 48px;
  font-family: 'Raleway', sans-serif;

  .wrapper {
    padding: 0;

    @include medium-navbar {
      padding: 0 1.5rem;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
    transition: 0.2s;
    max-height: 0px;
    overflow: hidden;
    clear: both;

    position: absolute;
    width: 100%;
    top: 30px;

    li {
      background: rgba(0, 0, 0, 0.7);
    }

    @include medium-navbar {
      top: 0;
      position: relative;
      float: right;
      left: auto;
      width: auto;
      transform: none;
      margin: 1rem 0;
      max-height: 48px;
      overflow: visible;
      clear: none;

      li {
        background: none;
        float: left;
      }

      li > a {
        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 8px;
          width: 0px;
          height: 3px;
          transition: all 0.2s ease-in-out;
          transition-duration: 0.5s;
          opacity: 0;
        }

        &:before {
          left: calc(50%);
          background: $thirdcol;
        }

        &:after {
          right: calc(50%);
          background: $thirdcol;
        }

        &:hover {
          &:before,
          &:after {
            width: 40%;
            opacity: 1;
          }
        }
      }
    }

    &.menu-toggle {
      max-height: 15rem;
    }
  }

  li > a {
    position: relative;
    text-decoration: none;
    padding: 15px;
    display: block;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    z-index: 3;
  }
}

.active {
  color: $thirdcol;

  &:before,
  &:after {
    width: 40%;
    opacity: 1;
  }
}

.logo {
  display: block;
  float: left;
  color: $thirdcol;
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.2s;
  position: absolute;
  margin: 0;
  padding: 0 5px;

  @include medium-navbar {
    left: 0;
    position: relative;
    margin: 16px 0;
  }
}

.dark-nav {
  background: linear-gradient(to left, $firstcol, $secondcol);

  ul {

    @include medium-navbar {
      margin: 0;
    }
  }

  .logo {
    margin-top: 0;
  }

  box-shadow: 0 0 10px black;
}

.navbar_button {
  position: absolute;
  right: 14px;
  transition: 0.2s;
  top: -4px;

  button {
    outline: none;
  }

  @include medium-navbar {
    top: 12px;
    display: none;
  }
}
