.page-section {
	padding: 6rem 0;
	text-align: center;

	&_banner {

		h2 {
			position: relative;
			width: auto;
			font-size: 2.5rem;
			font-weight: 700;

			&::after {
				content: "";
				position: absolute;
				top: 150%;
				left: 50%;
				transform: translate(-50%,-50%);
    		height: 3px;
    		width: 250px;
    		background: #FF4500;
			}
		}

		p {
			color: #757575;
			margin: 0 auto;
			font-size: 20px;
			max-width: 400px;
			padding: 1rem 0 2rem;

			@include atMedium {
				padding-bottom: 6rem;
			}
		}

	  &-white {
			h2 {
   			color: white;

   			&::after {
     			background: #FF4500;
   			}
 			}

 			p {
   			color: white;
   		}
		}

	}
}
