.projects {
  position: relative;
  z-index: 2;
  background: white;
  
  h3 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: 400;
    padding-top: 3rem;

    @include atMedium {
      padding-top: 0;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    img {
      box-shadow: 0 0 5rem #b3b3b3;
    }

    &:last-child {
      padding-bottom: 37px;
    }

    > div {
      p {
        text-align: left;
        margin: 0 auto;
        max-width: 540px;
        padding: 1.5rem 0;
        font-size: 1.09rem;
        line-height: 1.7rem;
        color: #757575;
      }

      @include atMedium {
        width: 50%;
        max-width: auto;

        p {
          padding-bottom: 1rem;
          padding: 1rem 0;
        }

        h3 {
          text-align: left;
        }
      }
    }

    @include atMedium {

      div:first-child {
        text-align: right;
      }

      div:nth-child(2) {
        padding-left: 80px;
      }

      flex-direction: row;
      align-items: flex-start;
    }
  }

  &-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 1.3rem;
    margin: 0 auto;
    list-style: none;
    font-size: .9rem;
    max-width: 430px;
    
    li {
      color: white;
      background: $secondcol;
      border-radius: 1rem;
      padding: .2rem .7rem;
      margin: .45rem .5rem;
      box-shadow: 3px 3px $thirdcol;
    }

    @include atMedium {
      padding-bottom: 1.8rem;
      justify-content: left;
      max-width: 100%;

      li {
        margin: .45rem 1rem .45rem 0;
      }
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    
    a {
      text-decoration: none;
      
      div {
        position: relative;
        overflow: hidden;
        font-size: 1.5rem;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 0.28rem 1rem;
        margin: 0 1rem;
        border: 3px solid darken($firstcol, 10%);
        color: white;
        background: $firstcol;
        transition: all .5s;
        
        &:after {
          position: absolute;
          content: '';
          top: -20px;
          left: -100px;
          height: 5rem;
          transform: rotate(45deg);
          box-shadow: 0 0 10px 15px white;
          opacity: 0.4;
          transition: all .5s;
        }

        &:hover:after {
          left: 150px;
        }
      }      
    }
  }
}
