.projects {
  
  h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
  }

  &-container {
    display: flex;

    > div {
      width: 50%;
      padding: 30px 0;
      p {
        text-align: left;
        margin: 0 auto;
        max-width: 540px;
        padding: 1.5rem 0;
        font-size: 1.09rem;
      }
    }

    div:first-child {
      margin-right: 10px;
    }

    div:nth-child(2n) {
      margin-left: 10px;
    }
  }

  &-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 430px;
    font-size: .8rem;
    
    li {
      color: white;
      background: #474A52;
      border-radius: 1rem;
      padding: .2rem .7rem;
      margin: .25rem .3rem;
      font-weight: bold;
    }
  }

  &-links {
    margin-top: 1.8rem;
    
    a {
      font-size: 1.5rem;
      text-decoration: none;
      padding: .3rem 1rem;
      margin: 0 1rem;
      border: 1px solid black;
      transition: .2s;

      &:hover {
        box-shadow: 0 5px 15px grey;
      }
    }
  }
}
