.projects {
  
  h3 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: 400;
    padding-top: 1rem;

    @include atMedium {
      padding-top: 0;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;

    > div {
      width: 100%;
      p {
        text-align: left;
        margin: 0 auto;
        max-width: 540px;
        padding: 1.5rem 0;
        font-size: 1.09rem;
        line-height: 1.7rem;
        color: lighten(black, 50%);
      }

      @include atMedium {
        width: 50%;
        max-width: auto;

        p {
          padding-bottom: 1rem;
          padding: 1rem 0;
        }

        h3 {
          text-align: left;
        }
      }
    }

    @include atMedium {

      div:first-child {
        text-align: right;
      }

      div:nth-child(2) {
        padding-left: 80px;
      }

      flex-direction: row;
      align-items: flex-start;
    }
  }

  &-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 1.3rem;
    margin: 0 auto;
    list-style: none;
    font-size: .8rem;
    max-width: 430px;
    
    li {
      color: white;
      background: #474A52;
      border-radius: 1rem;
      padding: .2rem .7rem;
      margin: .25rem .3rem;
    }

    @include atMedium {
      padding-bottom: 1.8rem;
      justify-content: left;
      max-width: 100%;
    }
  }

  &-links {
    
    
    a {
      font-size: 1.5rem;
      text-decoration: none;
      padding: .3rem 1rem;
      margin: 0 1rem;
      border: 1px solid black;
      transition: .2s;
      color: inherit;

      &:hover {
        box-shadow: 0 5px 15px grey;
      }
    }

    @include atMedium {
      text-align: left;
    }
  }
}
