.skills {
  background: #f1f1f1;
  svg {
    height: 6rem;
    width: 6rem;
    padding: 15px;
    transition: 0.5s;

    path,
    g {
      fill: #00274f;
    }

    @include atMedium {
      height: 10rem;
      width: 10rem;
      padding: 25px;
    }
  }

  &-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
  }
}
