.skills {
  background-color: #565A63;
  svg {
    height: 6rem;
    width: 6rem;
    padding: 15px;
    transition: .5s;

    @include atMedium {
      height: 10rem;
      width: 10rem;
      padding: 25px;
    }

    path {
      transition: .5s;
    }
  
  box-shadow: inset 0 0 20px 15px #565A63;
  }

  &-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 980px;
  }
}

.svg-mask {
  fill: white;
}

.svg-bg {
  background: white;
}
