.skills {
  background-color: #565A63;
  svg {
    height: 10rem;
    width: 10rem;
    padding: 25px 25px;

    path {
      transition: .5s;
    }
  }

  &-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 980px;
  }
}

.svg-mask {
  fill: white;
}
