body {
  justify-content: center;
  text-align: center;
  font-family: arial;
  margin: 0px;
}

body>div {
  padding: 30px;
}

h1 {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 5em;
}

h2 {
  font-size: 3em;
  margin: 0px;
  padding: 40px;
  font-weight: normal
}
