body {
  font-family: 'Titillium Web', sans-serif;
  color: #333333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Montserrat', serif;
	font-weight: 400;
}

$firstcol: #54008b;
$secondcol: #350058;
$thirdcol: #FF4500;

::selection{
background: $thirdcol;
color: white;
}
