body {
  font-family: 'Lato', sans-serif;
  color: #333333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Montserrat', serif;
	font-weight: 400;
}

$accent-color: #7d251c;
$primary-dark: #00274F;
$primary-light: #8B9CAF;
$secondary-dark: #FF4500;
$secondary-light: #FFAA8B;

::selection{
background: $accent-color;
color: white;
}
